body{
	margin: 10% 10%;
}



h1{
	color: violet;
	text-align: center;
}
img{
	float: right;
	padding-right: 10%;
}
h5{
	font-size: medium;
	font-style: italic;
	padding-left: 20%;
}
.list{
	color: blueviolet;
	text-align: center;
	padding-top: 4%;
	padding-right: 10%;
}
.dipl{
	text-align: center;
padding-right:10%;
}
.back{
	background-color: palevioletred;
	margin-top: 2%;
}


 